:root {
  --md-primary-fg-color: #6a2c91;
}

.md-header {
  transition: 0.3s all ease-in-out;
}

.md-ellipsis {
  font-size: 1.2rem;
}

.md-search__form {
  height: 2.2rem;
}

.md-search__icon[for="__search"] {
  top: 0.5rem;
}
